<div class="menu-container">
    <div class="content-container">
        <h1>Knight Rider</h1>
        <nav>
            <p>{{ user.firstName }} {{ user.lastName }}</p>
            <div class="dropdown">
                <a [routerLink]="['/profile']">My Profile</a>
                <a [routerLink]="['/login']">Sign Out</a>
            </div>
            <span class="open-menu" (click)="openMenu()">☰</span>
            <div [ngClass]="menu" (click)="closeMenu()" class="mobile-menu-container">
                <div [ngClass]="sidebar" class="mobile-menu">
                    <a [routerLink]="['/profile']">My Profile</a>
                    <a [routerLink]="['/login']">Sign Out</a>
                </div>
            </div>
        </nav>
    </div>
</div>
