<div class="menu-container">
    <div class="content-container">
        <h1 [routerLink]="['/home']">Knight Rider</h1>
        <nav>
            
            <p>
                <img src="{{ user.profilePicture || 'https://ct1.medstarhealth.org/content/uploads/2015/02/profile_male.jpg' }}" alt="{{ user.firstName }} {{ user.lastName }}" class="profile-pic">
                {{ user.firstName }} {{ user.lastName }}
            </p>
            <div class="dropdown">
                <a [routerLink]="['/profile']">My Profile</a> 
                <a [routerLink]="['/login']">Sign Out</a>
            </div>
            <span class="open-menu" (click)="openMenu()">☰</span>
            <div [ngClass]="menu" (click)="closeMenu()" class="mobile-menu-container">
                <div [ngClass]="sidebar" class="mobile-menu">
                    <a [routerLink]="['/profile']">My Profile</a>   
                    <a [routerLink]="['/login']">Sign Out</a>
                </div>
            </div>
        </nav>
    </div>
</div>
