<menu-bar></menu-bar>

<div class="trip">
  <h2>{{ trip.originCity }} <span class="arrow">➔</span> {{ trip.destCity }}</h2>
  
  <div class="trip-info-container">
    <div class="trip-info">
      <div class="origin">
          <p class="label">Pickup Location</p>
          <p class="title">{{ trip.origin }} </p>
          <p class="when">{{ trip.departureTime | date:'shortTime' }} - {{ trip.departureTime | date:'mediumDate' }}</p>
      </div>
      <div class="destination">
          <p class="label">Dropoff Location</p>
          <p class="title">{{ trip.destination }}</p>
          <p class="when">{{ trip.departureTime | date:'shortTime' }} - {{ trip.departureTime | date:'mediumDate' }}</p>
      </div>
    </div>
  </div>

  <div class="driver-container">
    <div class="driver cf">
      <p class="label">Driver</p>
      <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" alt="Your Driver">
      <p class="name">{{ driver.firstName }} {{ driver.lastName }}</p>
      <p *ngIf="driver.cars" class="car">{{ driver.cars[0].maker }} {{ driver.cars[0].type }}</p>
    </div>

    <div class="passengers">
      <p class="label">Passengers</p>
      <div *ngFor="let passenger of trip.passengers" class="passenger">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/k/128.jpg" alt="Passenger Name here">
        <div class="passenger-tooltip">
          Gregory Jones
        </div>
      </div>

      <div class="seats">
        <p class="available-seats">{{ trip.availableSeats | number:'2.0-0' }}</p>
        <p>Seats Available</p>
      </div>
    </div>
  </div>

  <div class="bottom-content-bar">
      <div class="content-container">
          <a *ngIf="currentUserIsTheDriver()" (click)="deleteRide()" class="button">Delete Ride</a>
          <a *ngIf="currentUserIsAPassenger()" (click)="leaveRide()" class="button">Leave Ride</a>
          <a *ngIf="!currentUserIsAPassenger() && !currentUserIsTheDriver()" (click)="joinRide()" class="button">Join Ride</a>
      </div>
  </div>

</div>
