<menu-bar></menu-bar>

<div class="trip">
  <h2>{{ trip.originCity }} <span class="arrow">➔</span> {{ trip.destCity }}</h2>
  
  <div class="trip-info-container">
    <div class="trip-info">
      <div class="origin">
          <p class="label">Pickup Location</p>
          <p class="title">{{ trip.originAddress }} </p>
          <p class="when">{{ trip.departureTime | date:'shortTime' }} - {{ trip.departureTime | date:'mediumDate' }}</p>
      </div>
      <div class="destination">
          <p class="label">Dropoff Location</p>
          <p class="title">{{ trip.destAddress }}</p>
          <p class="when">{{ trip.departureTime | date:'shortTime' }} - {{ trip.departureTime | date:'mediumDate' }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="trip.driver" class="driver-container">
    <div class="driver cf">
      <p class="label">Driver</p>
      <img src="{{ trip.driver.profilePicture || 'https://ct1.medstarhealth.org/content/uploads/2015/02/profile_male.jpg' }}" alt="Your Driver">
      <p class="name">{{ trip.driver.firstName }} {{ trip.driver.lastName }}</p>
      <p class="car">{{ trip.car.maker }} {{ trip.car.type }}</p>
    </div>

    <div class="passengers">
      <p class="label">Passengers</p>
      <div *ngFor="let passenger of trip.passengers" class="passenger">
        <img src="{{ passenger.profilePicture }}" alt="Passenger Name here">
        <div class="passenger-tooltip">
          {{ passenger.firstName }} {{ passenger.lastName }}
        </div>
      </div>

      <div class="seats">
        <p class="available-seats">{{ trip.remainingSeats | number:'2.0-0' }}</p>
        <p>Seats Available</p>
      </div>
    </div>
  </div>

  <div class="messages-container">
    <h2>Chat</h2>

    <div class="messages-overflow-ct">
      <div *ngFor="let message of trip.messages" [ngClass]="{'current-user': loggedInUserId == message.userId }" class="message">
        <p class="name">{{ message.firstName }} {{ message.lastName }}</p>
        <p class="comment">{{ message.comment }}</p>
      </div>
    </div>

    <input type="text" #messagebox id="messagebox" placeholder="Enter your message" class="message-input" (keyup.enter)="submitMessage(messagebox.value)">
  </div>

  <div class="bottom-content-bar">
      <div class="content-container">
          <a *ngIf="currentUserIsTheDriver()" (click)="deleteRide()" class="button">Delete Ride</a>
          <a *ngIf="currentUserIsAPassenger()" (click)="leaveRide()" class="button">Leave Ride</a>
          <a *ngIf="!currentUserIsAPassenger() && !currentUserIsTheDriver()" (click)="joinRide()" class="button">Join Ride</a>
      </div>
  </div>

</div>

<div *ngIf="loading" class="loading">
  <img src="./assets/loading.gif" alt="">
</div>
