<div class="login-container">
    <div class="login-page">
        <h1>rideshare.io</h1>
        <p class="subtitle">A ridesharing app designed for TAG IoT Hackathon</p>
        
        <form name="login-form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <p>Login to continue.</p>
            
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required placeholder="Username"/>
                <div *ngIf="f.submitted && !username.valid" class="error">Username is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password"/>
                <div *ngIf="f.submitted && !password.valid" class="error">Password is required</div>
            </div>
            <div class="form-group">
                <button [disabled]="loading">Login</button>
            </div>
        </form>

        <p class="register-link">Don't have an account? <a [routerLink]="['/register']">Register now.</a></p>
    </div>
</div>
