<menu-bar></menu-bar>

<div class="home">
  
  <form name="new-trip-form" [formGroup]="form.getForm()" (ngSubmit)="form.isValid() && submit()" novalidate>
    
    <section id="1" [hidden]="section !== 1">
      <div class="origin">
        <h2>Where does your trip start?</h2>
        <div class="saved_addresses">
          <span *ngFor="let ad of saved_addresses" (click)="form.setValue('origin', ad.address)">{{ ad.name }}</span>
        </div>
        <div class="form-group">
          <label for="origin">Origin</label>
          <input type="text" name="origin" formControlName="origin" placeholder="Enter an address">
          <div *ngIf="form.hasError('origin')" class="error">Origin address is required</div>
          <div *ngIf="originError" class="error">This address is unrecognized or invalid.</div>
        </div>
      </div>

      <div class="origin">
        <h2>Where does your trip end?</h2>
        <div class="saved_addresses">
          <span *ngFor="let ad of saved_addresses" (click)="form.setValue('destination', ad.address)">{{ ad.name }}</span>
        </div>
        <div class="form-group">
          <label for="origin">Destination</label>
          <input type="text" name="destination" formControlName="destination" placeholder="Enter an address">
          <div *ngIf="form.hasError('destination')" class="error">Destination address is required</div>
        </div>
      </div>

      <button type="submit">Submit</button>
    </section>

    <section id="2" [hidden]="section !== 2">
      <h2>SECTION 2</h2>
    </section>

    <section id="3" [hidden]="section !== 3">
      <h2>SECTION 3</h2>
    </section>
  </form>  

  <div class="bottom-content-bar">
    <div class="content-container">
      <button [disabled]="section > 2" class="button" (click)="nextSection()">Next</button>
      <button [disabled]="!(section > 1)" class="button" (click)="prevSection()">Prev</button>
    </div>
  </div>
</div>
