<menu-bar></menu-bar>

<div class="home">
  
  <form name="new-trip-form" [formGroup]="form.getForm()" (ngSubmit)="form.isValid() && submit()" novalidate>
      <div class="origin">
        <h2>Where does your trip start?</h2>
        <div class="saved_addresses">
          <span *ngFor="let ad of saved_addresses" (click)="form.setValue('origin', ad.address)">{{ ad.name }}</span>
        </div>
        <div class="form-group">
          <label for="origin">Origin</label>
          <input type="text" name="origin" (input)="resetOriginError()" formControlName="origin" placeholder="Enter an address">
          <div *ngIf="form.hasError('origin')" class="error">Origin address is required</div>
          <div *ngIf="originError" class="error">This address is unrecognized or invalid.</div>
        </div>
      </div>

      <div class="origin">
        <h2>Where does your trip end?</h2>
        <div class="saved_addresses">
          <span *ngFor="let ad of saved_addresses" (click)="form.setValue('destination', ad.address)">{{ ad.name }}</span>
        </div>
        <div class="form-group">
          <label for="origin">Destination</label>
          <input type="text" name="destination" (input)="resetDestinationError()" formControlName="destination" placeholder="Enter an address">
          <div *ngIf="form.hasError('destination')" class="error">Destination address is required</div>
          <div *ngIf="destinationError" class="error">This address is unrecognized or invalid.</div>
        </div>
      </div>
  </form>  

  <div class="bottom-content-bar">
    <div class="content-container">
      <button class="button" type="submit" (click)="form.isValid() && submit()">Submit</button>
    </div>
  </div>
</div>
