<h1>Knight Rider</h1>
<p>A ridesharing app designed for Middle Georgia State University.</p>

<form name="login-form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
   <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username">Username</label>
      <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required />
      <div *ngIf="f.submitted && !username.valid" class="error">Username is required</div>
  </div>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
      <div *ngIf="f.submitted && !password.valid" class="error">Password is required</div>
  </div>
  <div class="form-group">
      <button [disabled]="loading">Login</button>
      <a [routerLink]="['/register']">Register</a>
  </div>
</form>
