<div class="register-container">
    <div class="register-page">
        <h1>Register Now</h1>
        <p class="subtitle">Please note that registration is currently limited to MGA students only.</p>
        
        <form name="register-form" [formGroup]="form.getForm()" (ngSubmit)="form.isValid() && submit()" novalidate>
            <alert></alert>
            
            <div class="control-group">
              <p>What's your name?</p>
              <div class="form-group">
                  <input type="text" name="firstName" formControlName="firstName" placeholder="First Name"/>
                  <div *ngIf="form.hasError('firstName')" class="error">First name is required</div>
              </div>
              <div class="form-group">
                  <input type="text" name="lastName" formControlName="lastName" placeholder="Last Name"/>
                  <div *ngIf="form.hasError('lastName')" class="error">Last name is required</div>
              </div>
            </div>

            <div class="control-group">
              <p>How can we contact you?</p>
              <div class="form-group">
                  <input type="email" name="email" formControlName="email" placeholder="Email"/>
                  <div *ngIf="form.hasError('email')" class="error">{{ form.getError('email') }}</div>
              </div>
              <div class="form-group">
                  <input type="text" name="phone" formControlName="phone" placeholder="Phone"/>
                  <div *ngIf="form.hasError('phone')" class="error">{{ form.getError('phone') }}</div>
              </div>
            </div>

            <div class="control-group">
              <p>Pick a secure password.</p>
              <div class="form-group">
                  <input type="password" name="password" formControlName="password" placeholder="Password"/>
                  <div *ngIf="passwordError || form.hasError('password')" (input)="resetPasswordError()" class="error">Required, minimum 4 characters with at least 1 uppercase and 1 special</div>
              </div>
              <div class="form-group">
                  <input type="password" name="matchingPassword" formControlName="matchingPassword" placeholder="matchingPassword"/>
                  <div *ngIf="form.hasError('matchingPassword')" class="error">{{ form.getError('matchingPassword') }}</div>
              </div>
            </div>

            <div class="form-group">
                <button [disabled]="loading">Register</button>
            </div>
        </form>
    </div>
</div>

<div *ngIf="loading" class="loading">
  <img src="./assets/loading.gif" alt="">
</div>
